<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.demo.dao.log4j.ResLogMapper">
    <resultMap id="logResultMap" type="com.demo.pojo.log4j.ResLog">
        <id column="LOGID" property="logId" javaType="Long" jdbcType="BIGINT"/>
        <result column="CLASS" property="logModule" javaType="String" jdbcType="VARCHAR"/>
        <result column="METHOD" property="logMethod" javaType="String" jdbcType="VARCHAR"/>
        <result column="CREATETIME" property="createTime" javaType="Date" jdbcType="TIMESTAMP"/>
        <result column="LOGLEVEL" property="logLevel" javaType="String" jdbcType="VARCHAR"/>
        <result column="EXCEPTION" property="logException" javaType="String" jdbcType="VARCHAR"/>
        <result column="MSG" property="logMsg" javaType="String" jdbcType="VARCHAR"/>
        <result column="MODULENAME" property="moduleName" javaType="String" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="baseSql" >
        LOGID,CLASS,METHOD,CREATETIME,LOGLEVEL,EXCEPTION,MSG,MODULENAME
    </sql>
    <sql id="basePostgreSql" >
        "LOGID","CLASS","METHOD","CREATETIME","LOGLEVEL","EXCEPTION","MSG","MODULENAME"
    </sql>
    <select id="selectAll" parameterType="map" resultMap="logResultMap" databaseId="mysql">
        select
        <include refid="baseSql"/>
        from reslog
        <where>
            <if test="moduleName != null">
                and MODULENAME like concat('%',#{moduleName},'%')
            </if>
            <if test="logLevel != null">
                and LOGLEVEL = #{logLevel}
            </if>
            <if test="sTime != null">
                and CREATETIME <![CDATA[ >= ]]> #{sTime}
            </if>
            <if test="eTime != null">
                and CREATETIME <![CDATA[ <= ]]> #{eTime}
            </if>
        </where>
        order by CREATETIME desc
    </select>
    <select id="selectAll" parameterType="map" resultMap="logResultMap" databaseId="postgresql">
        select
        <include refid="basePostgreSql"/>
        from public.reslog
        <where>
            <if test="moduleName != null">
                and "MODULENAME" like concat('%',#{moduleName},'%')
            </if>
            <if test="logLevel != null">
                and "LOGLEVEL" = #{logLevel}
            </if>
            <if test="sTime != null">
                and "CREATETIME" <![CDATA[ >= ]]> to_timestamp(#{sTime},'yyyy-MM-dd HH24:mi:ss')
            </if>
            <if test="eTime != null">
                and "CREATETIME" <![CDATA[ <= ]]> to_timestamp(#{eTime},'yyyy-MM-dd HH24:mi:ss')
            </if>
        </where>
        order by "CREATETIME" desc
    </select>
    <select id="selectAllCount" parameterType="map" resultType="java.lang.Long" databaseId="mysql">
        select
        count(1)
        from reslog
        <where>
            <if test="moduleName != null">
                and MODULENAME like concat('%',#{moduleName},'%')
            </if>
            <if test="logLevel != null">
                and LOGLEVEL = #{logLevel}
            </if>
            <if test="sTime != null">
                and CREATETIME <![CDATA[ >= ]]> #{sTime}
            </if>
            <if test="eTime != null">
                and CREATETIME <![CDATA[ <= ]]> #{eTime}
            </if>
        </where>
    </select>
    <select id="selectAllCount" parameterType="map" resultType="java.lang.Long" databaseId="postgresql">
        select
        count(1)
        from public.reslog
        <where>
            <if test="moduleName != null">
                and "MODULENAME" = #{moduleName}
            </if>
            <if test="logLevel != null">
                and "LOGLEVEL" = #{logLevel}
            </if>
            <if test="sTime != null">
                and "CREATETIME" <![CDATA[ >= ]]> to_timestamp(#{sTime},'yyyy-MM-dd HH24:mi:ss')
            </if>
            <if test="eTime != null">
                and "CREATETIME" <![CDATA[ <= ]]> to_timestamp(#{eTime},'yyyy-MM-dd HH24:mi:ss')
            </if>
        </where>
    </select>

    <select id="selectById" parameterType="java.lang.Long" resultMap="logResultMap" databaseId="mysql">
        select
        <include refid="baseSql"/>
        from public.reslog
        where LOGID = #{logId}
    </select>
    <select id="selectById" parameterType="java.lang.Long" resultMap="logResultMap" databaseId="postgresql">
        select
        <include refid="basePostgreSql"/>
        from reslog
        where "LOGID" = #{logId}
    </select>
    <select id="selectByIds" parameterType="java.lang.String" resultMap="logResultMap" databaseId="mysql">
        select
        <include refid="baseSql"/>
        from reslog
        where LOGID in (
        <foreach collection="ids" item="id" index="index" separator="," >
            #{id,jdbcType=INTEGER}
        </foreach>
        )
    </select>
    <select id="selectByIds" resultMap="logResultMap" databaseId="postgresql">
        select
        <include refid="basePostgreSql"/>
        from public.reslog
        where "LOGID" in (
        <foreach collection="ids" item="id" index="index" separator="," >
            #{id,jdbcType=INTEGER}
        </foreach>
        )
    </select>

    <delete id="deleteExpire" databaseId="mysql">
        delete from reslog where CREATETIME <![CDATA[ < ]]> DATE_SUB(CURDATE(),INTERVAL 3 month );
    </delete>
    <delete id="deleteExpire" databaseId="postgresql">
        delete from public.reslog where "CREATETIME" <![CDATA[ < ]]> DATE(TO_CHAR(CURRENT_DATE + INTERVAL '-3 MONTH','YYYY-MM-DD'))
    </delete>

</mapper>

