<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.demo.dao.log4j.ResWarnMapper">
    <resultMap id="warnResultMap" type="com.demo.pojo.log4j.ResWarn">
        <id column="WARNID" property="warnId" javaType="Long" jdbcType="BIGINT"/>
        <result column="WARNCLASS" property="warnClass" javaType="String" jdbcType="VARCHAR"/>
        <result column="WARNMSG" property="warnMsg" javaType="String" jdbcType="VARCHAR"/>
        <result column="WARNSTATUS" property="warnStatus" javaType="int" jdbcType="TINYINT"/>
        <result column="WARNTIME" property="warnTime" javaType="Date" jdbcType="TIMESTAMP"/>
        <result column="HANDLEUSER" property="handleUser" javaType="String" jdbcType="VARCHAR"/>
        <result column="HANDLEMSG" property="handleMsg" javaType="String" jdbcType="VARCHAR"/>
        <result column="HANDLETIME" property="handleTime" javaType="Date" jdbcType="TIMESTAMP"/>
        <result column="STARTTIME" property="startTime" javaType="Date" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="baseSql" >
        WARNID,WARNCLASS,WARNMSG,WARNSTATUS,WARNTIME,HANDLEUSER,HANDLEMSG,HANDLETIME,STARTTIME
    </sql>
    <select id="selectAll" parameterType="map" resultMap="warnResultMap">
        select
        <include refid="baseSql"/>
        from reswarn
        <where>
            <if test="warnClass != null">
                and WARNCLASS = #{warnClass}
            </if>
            <if test="warnStatus != null">
                and WARNSTATUS = #{warnStatus}
            </if>
            <if test="sTime != null">
                and WARNTIME <![CDATA[ >= ]]> #{sTime}
            </if>
            <if test="eTime != null">
                and WARNTIME <![CDATA[ <= ]]> #{eTime}
            </if>
        </where>
        order by WARNTIME desc
    </select>
    <select id="selectAllCount" parameterType="map" resultType="java.lang.Long">
        select
        count(1)
        from reswarn
        <where>
            <if test="warnClass != null">
                and WARNCLASS = #{warnClass}
            </if>
            <if test="warnStatus != null">
                and WARNSTATUS = #{warnStatus}
            </if>
            <if test="sTime != null">
                and WARNTIME <![CDATA[ >= ]]> #{sTime}
            </if>
            <if test="eTime != null">
                and WARNTIME <![CDATA[ <= ]]> #{eTime}
            </if>
        </where>
    </select>
    <update id="handle" parameterType="map" >
        update reswarn set
        WARNSTATUS = #{warnStatus},
        HANDLEMSG = #{content},
        HANDLEUSER = #{handleUser},
        HANDLETIME = now()
        <where>
            <if test="id != null and id != ''">
                warnId = #{id}
            </if>
            <if test="ids != null and ids != ''">
                warnId in (#{ids})
            </if>
        </where>

    </update>
    <select id="seeWarn" parameterType="map" resultMap="warnResultMap">
        select
        <include refid="baseSql"/>
        from reswarn
        where WARNID = #{warnId}
    </select>

    <delete id="deleteWarnExpire" >
        delete from resconfig where WARNTIME &lt; DATE_SUB(CURDATE(),INTERVAL 3 month );
    </delete>

    <insert id="insert" parameterType="com.demo.pojo.log4j.ResWarn">
        insert into reswarn  (WARNCLASS,WARNMSG,WARNSTATUS,WARNTIME,HANDLEUSER,HANDLETIME,STARTTIME)
        VALUES (#{warnClass},#{warnMsg},#{warnStatus},now(),#{handleUser},#{handleTime},#{startTime})
    </insert>

</mapper>

